@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url(fonts/PassionOne-Bold.ttf) format('TrueType');
}

@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    color: white;
    text-align: center;
    background-color: black;
}

header > h1 {  
    padding-top: 50px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    border-radius: 10px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > p {
    padding: 10px;
}